<div class="paper-sized" layout="column" layout-fill>
    <header style="margin-bottom: 6px;"></header>
    <personalities style="margin-bottom: 6px;"></personalities>
    <stats style="margin-bottom: 6px;"></stats>
    <div style="margin-bottom: 6px;" layout="row">
        <div class="double-border" style="margin-right: 3px;" layout="row" flex="66">
            <div layout="column" flex="50">
                <div class="fs-10 background" style="margin-right: 2px;" layout="column" flex>
                    <div class="background" style="border-radius: 0px !important;" flex>
                        <div style="height: 24px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" >
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="66">Attack/Spell Name</div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Attack Bonus</div>
                        </div>
                        <div style="height: 18px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" style="margin: 0px 2px;">
                            <div layout="row" flex="66">
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="60">Damage</div>
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="40">Type</div>
                            </div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Saving Throw</div>
                        </div>
                    </div>
                    <div style="border-radius: 0px !important;" flex>
                        <div style="height: 24px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" >
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="66">Attack/Spell Name</div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Attack Bonus</div>
                        </div>
                        <div style="height: 18px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" style="margin: 0px 2px;">
                            <div layout="row" flex="66">
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="60">Damage</div>
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="40">Type</div>
                            </div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Saving Throw</div>
                        </div>
                    </div>
                    <div class="background" style="border-radius: 0px !important;" flex>
                        <div style="height: 24px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" >
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="66">Attack/Spell Name</div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Attack Bonus</div>
                        </div>
                        <div style="height: 18px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" style="margin: 0px 2px;">
                            <div layout="row" flex="66">
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="60">Damage</div>
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="40">Type</div>
                            </div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Saving Throw</div>
                        </div>
                    </div>
                    <div style="border-radius: 0px !important;" flex>
                        <div style="height: 24px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" >
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="66">Attack/Spell Name</div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Attack Bonus</div>
                        </div>
                        <div style="height: 18px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" style="margin: 0px 2px;">
                            <div layout="row" flex="66">
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="60">Damage</div>
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="40">Type</div>
                            </div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Saving Throw</div>
                        </div>
                    </div>
                    <div class="background" style="border-radius: 0px !important;" flex>
                        <div style="height: 24px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" >
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="66">Attack/Spell Name</div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Attack Bonus</div>
                        </div>
                        <div style="height: 18px; border-bottom: 1px solid rgba(0,0,0,0.33);" layout="row"></div>
                        <div layout="row" style="margin: 0px 2px;">
                            <div layout="row" flex="66">
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="60">Damage</div>
                                <div style="padding: 1px 6px; margin: 0px 2px;" flex="40">Type</div>
                            </div>
                            <div style="padding: 1px 6px; margin: 0px 2px;" flex="33">Saving Throw</div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="column" flex="50">
                <div style="margin-left: 8px;" layout="column" layout-align="space-between" flex>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <line></line>
                    <div style="font-size: 10px;" layout="column" layout-align="center center">Other Attacks & Spellcasting</div>
                </div>
            </div>
        </div>
        <div class="double-border" style="margin-left: 3px; padding-top: 1px;" layout="column" flex="33">
            <div layout="column" layout-align="space-between" flex>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <div style="font-size: 10px;" layout="column" layout-align="center center">Features & Traits</div>
            </div>
        </div>
    </div>
    <div layout="row">
        <div flex="33">
            <div class="double-border" style="margin-right: 3px;" layout="column" flex>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <div style="font-size: 10px; margin-top: 2px;" layout="column" layout-align="center center">Other Proficiencies & Languages</div>
            </div>
        </div>
        <div flex="33">
            <div class="double-border" style="margin: 0px 3px;" layout="column" flex>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <div style="font-size: 10px; margin-top: 2px;" layout="column" layout-align="center center">Equipment</div>
            </div>
        </div>
        <div flex="33">
            <div class="double-border" style="margin-left: 3px;" layout="column" flex>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <line></line>
                <div style="font-size: 10px; margin-top: 2px;" layout="column" layout-align="center center">Character Notes</div>
            </div>
        </div>
    </div>
</div>
    