<div class="paper-sized" layout="column" layout-fill>
    <h3 class="no-margin">Dungeons & Dragons 5th Edition</h3>
    <h1 style="margin-bottom: 0px;">Homebrew by ChicoBitcoinJoe</h1>
    
    <md-divider style="margin: 16px 0px;"></md-divider>
    
    <h2 style="margin-top: 0px; margin-bottom: 4px;">Races</h2>
    <tab>
        <h4 style="margin: 8px 0px;"><a href="https://docs.google.com/document/d/17U7zQCdo8YNdZVapfXCf09t1RazgzvXWWAMoZ1SF2xM/edit" target="_blank">
            Aonar: A flower/plant inspired race.
        </a></h4>
        <h4 style="margin: 8px 0px;"><a href="https://docs.google.com/document/d/14sJfssO8jM4lE_A-rRx0-j7bVKxcN3TJ-R-Mzf9Np5w/edit#" target="_blank">
            Mezamea: A tree inspired race.
        </a></h4>
    </tab>

    <md-divider style="margin: 16px 0px;"></md-divider>

    <h2 style="margin-top: 0px; margin-bottom: 4px;">Printable Resources</h2>
    <tab>
        <h4 style="margin: 8px 0px;"><a href="#/print" target="_blank">
            Custom Character Sheet
        </a></h4>
        <tab>
            <div>To Do:</div>
            <ul>
                <li>Vision (light/dark)</li>
                <li>Weapon/Spell Ranges</li>
                <li>Add 'weight' column to Equipment section</li>
                <li>Add 'total weight' input to bottom of Equipment Section</li>
            </ul>
        </tab>
    </tab>
</div>